#pay .text-center {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #47525E;
  font-size: 18px;
}

#pay /deep/ .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
}

#pay .table-center {
  color: #8190A5;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-horizontal-spacing: 37px;
  -webkit-border-vertical-spacing: 17px;
}

#pay .mat-stroked-button {
  border-color: #e78666;
}

#pay .mat-button.mat-warn, #pay .mat-icon-button.mat-warn, #pay .mat-stroked-button.mat-warn {
  color: #e78666;
}

#pay .mat-stroked-button:active {
  background-color: #e78666;
}

#pay .mat-button.mat-warn, #pay .mat-icon-button.mat-warn, #pay .mat-stroked-button.mat-warn:active {
  color: #ffffff;
}

#pay .mat-stroked-button:hover {
  background-color: #e78666;
}

#pay .mat-button.mat-warn, #pay .mat-icon-button.mat-warn, #pay .mat-stroked-button.mat-warn:hover {
  color: #ffffff;
}

#pay .button-padding {
  padding-left: 30px;
  padding-right: 30px;
}

#pay.vertical-center {
  //margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.test-class{
  z-index: 1;
}
