<div class="vertical-center" id="pay">
  <p style="padding: 10px;" class="text-center">Scan a QR-code to make payments or get paid. Click on the "Scan Code" button and scan a service code to make it valid or
    scan a job code to get paid.
  </p>
  <img class="center" src="../../../assets/images/qr-code.png"/>
  <div class="table-center" style="margin-top: 60px;">
    <button style="z-index: 100000" (click)="openScanner()"  class="mat-stroked-button mat-warn button-padding"><strong>Scan Code</strong></button>
  </div>
</div>
