#service-detail .service-title {
  text-align: center;
  color: #47525E;
  margin-top: 4px;
}

#service-detail .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #47525E;
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
}

#service-detail .text-center-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #47525E;
  -webkit-border-horizontal-spacing: 37px;
  -webkit-border-vertical-spacing: 17px;
}

#service-detail /deep/
.mat-stroked-button {
  border-color: #e78666!important;
}

#service-detail .mat-button.mat-warn, #service-detail .mat-icon-button.mat-warn, #service-detail .mat-stroked-button.mat-warn {
  color: #e78666;
}

#service-detail .mat-stroked-button:active {
  background-color: #e78666;
}

#service-detail .mat-button.mat-warn, #service-detail .mat-icon-button.mat-warn, #service-detail .mat-stroked-button.mat-warn:active {
  color: #ffffff;
}

#service-detail .mat-stroked-button:hover {
  background-color: #e78666;
}

#service-detail .mat-button.mat-warn, #service-detail .mat-icon-button.mat-warn, #service-detail .mat-stroked-button.mat-warn:hover {
  color: #ffffff;
}

#service-detail .button-padding {
  padding: 6px 30px 6px 30px;
  font-size: larger;
}

#service-detail .button-center-b {
  display: flex;
  align-items: center;
  justify-content: center;
}

#service-detail agm-map {
  height: 300px;
}

#service-detail .temp-credit-icon, #service-detail .credit-amount {
  color: green;
  margin-top: -1px;
}

#service-detail .temp-credit-icon {
  margin-left: 2px;
}
