<div id="my-job">
  <div *ngIf="myJobsList.length===0">
    <p style="text-align: center">Currently, You have not posted any jobs.</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let job of myJobsList;" (opened)="getAllApplicantsByJob(job)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ job.jobTitle }}
        </mat-panel-title>
        <span class="credit-amount">{{ job.credits }}</span>
        <mat-icon class="temp-credit-icon">copyright</mat-icon>
      </mat-expansion-panel-header>
      <p class="sub-header-jobs">Pending</p>
      <mat-card class="expanded-panel-container">
        <div *ngFor="let applicant of job.appliedJobsList">
          <mat-card-header *ngIf="applicant.status==='APPLIED'">
            <div mat-card-avatar class="user-avatar-image"></div>
            <mat-card-title>{{applicant.applicantName}}</mat-card-title>
            <mat-card-subtitle>
              <bar-rating [max]="10" [rate]="2" [readOnly]="true"  [theme]="'horizontal'"></bar-rating>
            </mat-card-subtitle>

            <div class="accept-decline-buttons-container">
              <button mat-icon-button (click)="declineApplicant(applicant)">
                <mat-icon class="decline-btn-icon">highlight_off</mat-icon>
                <p class="decline-btn-text">Decline</p>
              </button>
              <button mat-icon-button (click)="acceptApplicant(applicant)">
                <mat-icon class="accept-btn-icon">check_circle_outline</mat-icon>
                <p class="accept-btn-text">Accept</p>
              </button>
            </div>
          </mat-card-header>
        </div>
      </mat-card>
      <p class="sub-header-jobs">Accepted</p>
      <mat-card class="expanded-panel-container">
        <div *ngFor="let applicant of job.appliedJobsList">
          <mat-card-header *ngIf="applicant.status==='APPROVED'">
            <div class="user-avatar-image" mat-card-avatar></div>
            <mat-card-title>{{applicant.applicantName}}</mat-card-title>
            <mat-card-subtitle>
              <bar-rating [max]="10" [rate]="2" [readOnly]="true" [theme]="'horizontal'"></bar-rating>
            </mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-mini-fab (click)="createJob()" id="add-job-btn">
    +
  </button>
</div>
