#my-job .mat-expansion-panel-spacing {
  margin: 0px;
}

#my-job /deep/ .mat-expansion-panel-body {
  background: lightgrey;
  padding: 0px !important;
}

#my-job /deep/ .mat-expansion-indicator {
  position: absolute;
  left: 15px;
}

#my-job /deep/ .mat-expansion-indicator:after {
  color: #ED6C41;
}

#my-job .mat-expansion-panel-header-title {
  margin-left: 1em;
  margin-top: 5px;
  font-weight: 600;
}

#my-job .temp-credit-icon, #my-job .credit-amount {
  color: green;
}

#my-job .temp-credit-icon {
  margin-left: 2px;
}

#my-job .user-avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: 1px solid #ED6C41;
}

#my-job .expanded-panel-container {
  background: lightgrey;
  box-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#my-job .mat-card-title {
  font-size: 15px;
}

#my-job /deep/ .br-unit:nth-of-type(1) {
  background-color: #ff000069;
}

#my-job /deep/ .br-unit:nth-of-type(2) {
  background-color: #ff5b0069;
}

#my-job /deep/ .br-unit:nth-of-type(3) {
  background-color: #ff8a0069;
}

#my-job /deep/ .br-unit:nth-of-type(4) {
  background-color: #ffb90069;
}

#my-job /deep/ .br-unit:nth-of-type(5) {
  background-color: #ffd10069;
}

#my-job /deep/ .br-unit:nth-of-type(6) {
  background-color: #fff40069;
}

#my-job /deep/ .br-unit:nth-of-type(7) {
  background-color: #cfff0069;
}

#my-job /deep/ .br-unit:nth-of-type(8) {
  background-color: #b7ff0069;
}

#my-job /deep/ .br-unit:nth-of-type(9) {
  background-color: #88ff0069;
}

#my-job /deep/ .br-unit:nth-of-type(10) {
  background-color: #00ff0569;
}

#my-job /deep/ .br-unit:nth-of-type(1).br-selected {
  background-color: red;
}

#my-job /deep/ .br-unit:nth-of-type(2).br-selected {
  background-color: #ff5b00;
}

#my-job /deep/ .br-unit:nth-of-type(3).br-selected {
  background-color: #ff8a00;
}

#my-job /deep/ .br-unit:nth-of-type(4).br-selected {
  background-color: #ffb900;
}

#my-job /deep/ .br-unit:nth-of-type(5).br-selected {
  background-color: #ffd100;
}

#my-job /deep/ .br-unit:nth-of-type(6).br-selected {
  background-color: #fff400;
}

#my-job /deep/ .br-unit:nth-of-type(7).br-selected {
  background-color: #cfff00;
}

#my-job /deep/ .br-unit:nth-of-type(8).br-selected {
  background-color: #b7ff00;
}

#my-job /deep/ .br-unit:nth-of-type(9).br-selected {
  background-color: #88ff00;
}

#my-job /deep/ .br-unit:nth-of-type(10).br-selected {
  background-color: #00ff05;
}

#my-job /deep/ .br.br-horizontal > .br-units > .br-unit {
  width: 10px;
  height: 5px;
}

#my-job .accept-btn-text, #my-job .decline-btn-text {
  margin: 0px;
  font-size: 10px;
  line-height: 5px;
}

#my-job .accept-btn-icon, #my-job .accept-btn-text {
  color: green;
}

#my-job .decline-btn-icon, #my-job .decline-btn-text {
  color: red;
}

#my-job .accept-decline-buttons-container {
  width: 100%;
  margin-top: -10px;
}

#my-job .accept-decline-buttons-container > button {
  float: right;
}

#my-job .accept-decline-buttons-container > button:nth-of-type(1) {
  margin-left: 3px;
}

#add-job-btn.mat-mini-fab.mat-accent {
  background: #ED6C41;
  font-size: 50px;
  color: white;
  font-weight: lighter;
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#my-job .sub-header-jobs {
  text-align: center;
  color: white;
  background: grey;
  padding: 2px;
  margin-top: 0;
}

#my-job #qr-code-btn {
  height: 45px;
  background: #ED6C41;;
  border: none;
  text-align: center;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#cancel-job-btn {
  height: 45px;
  background: #ED6C41;
  border: none;
  text-align: center;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
