<div id="my-job">
  <div *ngIf="myJobsList.length===0 && hasAdminAccess">
    <p style="text-align: center">Currently, You have not posted any jobs.</p>
  </div>
  <div *ngIf="!hasAdminAccess">
    <p style="text-align: center">Currently, only the City of Imatra can post jobs.</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let job of myJobsList;" (opened)="getAllApplicantsByJob(job)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ job.category.name }}
        </mat-panel-title>
        <span class="credit-amount">{{ job.category.credits }}</span>
        <mat-icon class="temp-credit-icon">copyright</mat-icon>
      </mat-expansion-panel-header>
      <!--<p class="sub-header-jobs">View QR Code</p>
      <mat-card class="expanded-panel-container">
        <div>
          <a style="cursor: pointer" (click)="getQRCode(job)">Click Here To get QR Code</a>
        </div>
      </mat-card>-->
      <div>
        <button (click)="getQRCode(job)" id="qr-code-btn">Click here for QR code</button>
        <button (click)="cancelJob(job)" id="cancel-job-btn">Cancel Job</button>
      </div>

      <p class="sub-header-jobs">Pending</p>
      <p *ngIf="job.pendingStatus" style="text-align: center; margin: 0;">No pending jobs yet</p>
      <mat-card class="expanded-panel-container">
        <div *ngFor="let applicant of job.appliedJobsList">
          <mat-card-header *ngIf="applicant.status==='APPLIED'">

            <img (click)="openUserProfile(applicant.applicantId)"  src="{{applicant.applicantProfileImageUrl}}" class="user-avatar-image" mat-card-avatar/>

            <mat-card-title (click)="openUserProfile(applicant.applicantId)" >{{applicant.applicantName}}</mat-card-title>
            <mat-card-subtitle (click)="openUserProfile(applicant.applicantId)" >
              <bar-rating [max]="10" [rate]="5" [readOnly]="true" [theme]="'horizontal'"></bar-rating>
            </mat-card-subtitle>

            <div class="accept-decline-buttons-container">
              <button mat-icon-button (click)="declineApplicant(applicant, job)">
                <mat-icon class="decline-btn-icon">highlight_off</mat-icon>
                <p class="decline-btn-text">Decline</p>
              </button>
              <button mat-icon-button (click)="acceptApplicant(applicant, job)">
                <mat-icon class="accept-btn-icon">check_circle_outline</mat-icon>
                <p class="accept-btn-text">Accept</p>
              </button>
            </div>
          </mat-card-header>
        </div>
      </mat-card>
      <p class="sub-header-jobs">Accepted</p>
      <p *ngIf="job.approvedStatus" style="text-align: center; margin: 0;">No accepted jobs yet</p>
      <mat-card class="expanded-panel-container">
        <div *ngFor="let applicant of job.appliedJobsList">
          <mat-card-header *ngIf="applicant.status==='APPROVED'">
            <img (click)="openUserProfile(applicant.applicantId)"  src="{{applicant.applicantProfileImageUrl}}" class="user-avatar-image" mat-card-avatar/>

            <mat-card-title>{{applicant.applicantName}}</mat-card-title>
            <mat-card-subtitle>
              <bar-rating [max]="10" [rate]="5" [readOnly]="true" [theme]="'horizontal'"></bar-rating>
            </mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>
    </mat-expansion-panel>

  </mat-accordion>

  <button *ngIf="hasAdminAccess" mat-mini-fab (click)="createJob()" id="add-job-btn">
    +
  </button>
</div>
