mat-form-field {
  width: 100%;
}

form {
  padding-right: 20px;
  padding-left: 20px;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: #ED6C41;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ED6C41;
}

button {
  border: 2px solid #ED6C41;
  color: #ED6C41;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-weight: bold;
}

/deep/ .timepicker__header, /deep/ .clock-face__clock-hand {
  background-color: #ED6C41 !important;
}

/deep/ .clock-face__number {
  --button-color: #ED6C41;
  --dial-background-color: #ED6C41;
  --clock-hand-color: #ED6C41;
}

/deep/ .timepicker-button {
  color: #ED6C41 !important;
}

#qr-wrapper {
  text-align: center;
}
