<mat-list>
  <mat-list-item  *ngFor="let service of benefitList;" (click)="openService()" >
      <h2 matLine style="color: #47525E;"><strong>{{service.name}}</strong></h2>
      <span style="text-align: right; margin-bottom: 43px;" class="credit-amount">{{service.credits}}</span>

    <mat-icon style="margin-bottom: 43px;float: right;" class="temp-credit-icon">copyright</mat-icon>
    <div matLine >
    <p matLine style="color: grey" class='ellipsis'>{{service.description}}<p></div>
  </mat-list-item>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>
</mat-list>
