#redeem .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#redeem p.block {
  width: 300px;
}

#redeem .temp-credit-icon, #redeem .credit-amount {
  color: green;
  margin-top: -43px;
}

#redeem .temp-credit-icon {
  margin-left: 2px;
}
