.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.block {
  width: 300px;
}
.temp-credit-icon, .credit-amount{
  color: green;
}

.temp-credit-icon{
  margin-left: 2px;
}
