<footer class="footer">
  <mat-toolbar color="primary" style="justify-content: center">
      <div (click)="openFindJob()" class="footer-button-container selected">
      <button
        type="button"

        mat-icon-button>
        <mat-icon class="white">search</mat-icon>
      </button>
      <p class="footer-button-desc">Find Job</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openMyjob()"
        mat-icon-button>
        <mat-icon class="white">assignment</mat-icon>
      </button>
      <p class="footer-button-desc">My Jobs</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openRedeem()"
        mat-icon-button>
        <mat-icon class="white">redeem</mat-icon>
      </button>
      <p class="footer-button-desc">Redeem</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openWallet()"
        mat-icon-button>
        <mat-icon class="white">account_balance_wallet</mat-icon>
      </button>
      <p class="footer-button-desc">Wallet</p>
    </div>
    <div class="footer-button-container">
      <button
        type="button"
        (click)="openPayment()"
        mat-icon-button>
        <mat-icon class="white">payment</mat-icon>
      </button>
      <p class="footer-button-desc">Pay</p>
    </div>


  </mat-toolbar>
</footer>
