<footer class="footer">
  <mat-toolbar color="primary" style="justify-content: center">
    <button
      type="button"
      (click)="openFindJob()"
      mat-icon-button>
      <mat-icon class="white">search</mat-icon>
    </button>
    <button
      type="button"
      (click)="openMyjob()"
      mat-icon-button>
      <mat-icon class="white">assignment</mat-icon>
    </button>
    <button
      type="button"
      (click)="openRedeem()"
      mat-icon-button>
      <mat-icon class="white">redeem</mat-icon>
    </button>
    <button
      type="button"
      (click)="openWallet()"
      mat-icon-button>
      <mat-icon class="white">account_balance_wallet</mat-icon>
    </button>
    <button
      type="button"
      (click)="openPayment()"
      mat-icon-button>
      <mat-icon class="white">payment</mat-icon>
    </button>


  </mat-toolbar>
</footer>
