.mat-card {
  box-shadow: none;
  text-align: center;
  padding: 70px 0;
}

/deep/ .mat-card-header-text {
  margin: 0 auto !important;
}

.mat-raised-button {
  background-color: #ED6C41;
  color: white;
  width: 100%;
  margin-top: 10px;
}

img {
  margin-bottom: 30px;
}

/deep/ .mat-form-field {
  display: block !important;
}

mat-card-content {
  padding-right: 50px;
  padding-left: 50px;
}

/deep/ mat-hint {
  color: red !important;
  font-size: small !important;
}
