/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  min-width: 50% !important;
  width: 50% !important;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
/deep/.content[_ngcontent-c1] {
  top: 56px;
}
.mat-expansion-panel-spacing{
  margin: 0px;
}

/deep/ .mat-expansion-panel-body{
  background: lightgrey;
}
