<mat-tab-group #matTabGroup animationDuration="0ms" id="find-job">
  <mat-tab id="map" label="Map View">
    <div class="center" id="test">
      <agm-map [zoom]="11" [latitude]="lat" [longitude]="lng">
        <agm-marker *ngFor="let job of jobList;" [latitude]="job.lat" [longitude]="job.lng" >
          <agm-info-window [disableAutoPan]="false" #infoWindow>

            <div style="width: 150px;">
              <p>{{job.jobTitle}} </p>
              <p>{{ job.description.substring(0, 20)+"..."}}</p>
              <p>{{ "Credits: " + job.credits}}</p>
            </div>
            <div>
              <a href="" style="float: right;" class="mat-stroked-button mat-warn" (click)="markerClick($event, job);"><span>Details</span></a>
            </div>

          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </mat-tab>
  <mat-tab id="list" label="List View">
    <mat-accordion>
      <div *ngIf="jobList.length===0">
        <p style="text-align: center">Currently, there are no jobs posted.</p>
      </div>
      <mat-expansion-panel *ngFor="let job of jobList;"  (closed)="onClosed(job)"(opened)="onPanelOpen(job)" [expanded]="job.checked">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{job.jobTitle}}
          </mat-panel-title>
          <span class="credit-amount">{{job.credits}}</span>
          <mat-icon class="temp-credit-icon">copyright</mat-icon>
        </mat-expansion-panel-header>
        <p class="desc-st">Description:</p>
        <p class="find-view-text-color">{{job.description}} </p>

        <p class="find-view-text-color">{{job.totalSelected?job.totalSelected:0}}/{{job.noOfPeople}} people already
          selected. </p>

        <p *ngIf="job.phoneNumber != null && job.phoneNumber != ''" class="find-view-text-color">Phone
          number: {{job.phoneNumber}}</p>
        <p *ngIf="job.address1 != null && job.address1 != ''" class="find-view-text-color">Address: {{job.address1}}
          <span *ngIf="job.address2 != null && job.address2 != ''">{{job.address2}}</span></p>
        <lib-countdown
          (daysChanged)="onDaysChanged($event, job)"
          [isCustomTemplate]="isCustomTemplate"
          (hoursChanged)="onHoursChanged($event, job)"
          (minutesChanged)="onMinutesChanged($event, job)"
          (secondsChanged)="onSecondsChanged($event, job)"
          [date]="job.dueDate">
          <div  class="row">
            <div  class="col s12">
                <div class="class-left" >
                  <table>
                    <tr>
                      <td class="lib-countdown-td">{{job.days}}d</td>
                      <td class="lib-countdown-td">{{job.hours}}h</td>
                      <td class="lib-countdown-td">{{job.minutes}}m</td>
                      <td class="lib-countdown-td">{{job.seconds}}s</td>
                    </tr>
                  </table>
                </div>

              <div style="float: right">
                <button (click)="confirmApply(job)" *ngIf="!job.jobStatus && token" class="mat-stroked-button mat-warn"
                        id="apply-btn">Apply
                </button>
                <span class="job-status" *ngIf="job.jobStatus"><b>{{job.jobStatus}}</b></span>
                </div>
            </div>
          </div>
        </lib-countdown>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
