<mat-tab-group animationDuration="0ms">
  <mat-tab label="Map View">Map</mat-tab>
  <mat-tab label="List View">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let job of jobList;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{job.jobTitle}}
          </mat-panel-title>
          <span class="credit-amount">30</span>
          <mat-icon class="temp-credit-icon">copyright</mat-icon>
        </mat-expansion-panel-header>
        <p style="margin-top: 9px; font-style: italic;">Description:</p>
        <p class="find-view-text-color">{{job.description}} </p>

        <p class="find-view-text-color">0/{{job.noOfPeople}} people needed already selected. </p>

        <p class="find-view-text-color" *ngIf="job.phoneNumber != null && job.phoneNumber != ''">Phone number: {{job.phoneNumber}}</p>
        <p class="find-view-text-color" *ngIf="job.address1 != null && job.address1 != ''">Address: {{job.address1}} <span *ngIf="job.address2 != null && job.address2 != ''">{{job.address2}}</span></p>
        <lib-countdown
          [date]="job.dueDate"
          [isCustomTemplate]="isCustomTemplate"
          (daysChanged)="onDaysChanged($event, job)"
          (hoursChanged)="onHoursChanged($event, job)"
          (minutesChanged)="onMinutesChanged($event, job)"
          (secondsChanged)="onSecondsChanged($event, job)">
          <div  class="row">
            <div  class="col s12">
                <div style="display: inline"  style="float: left" >
                  <table>
                    <tr>
                      <td class="lib-countdown-td">{{job.days}}d</td>
                      <td class="lib-countdown-td">{{job.hours}}h</td>
                      <td class="lib-countdown-td">{{job.minutes}}m</td>
                      <td class="lib-countdown-td">{{job.seconds}}s</td>
                    </tr>
                  </table>
                </div>

                <div style="float: right">
                  <button class="mat-stroked-button mat-warn">Apply</button>
                </div>
            </div>
          </div>
        </lib-countdown>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
