#find-job /deep/ .mat-tab-label, #find-job /deep/ .mat-tab-label-active {
  min-width: 50% !important;
  width: 50% !important;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

/deep/ .content {
  top: 56px !important;
}

#find-job .mat-expansion-panel-spacing {
  margin: 0px;
}

#find-job /deep/ .mat-expansion-panel-body {
  background: #e2e2e2;
}

#find-job .mat-stroked-button {
  border-color: #e78666;
}

#find-job .mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
  color: #e78666;
}

#find-job .mat-stroked-button:active {
  background-color: #e78666;
}

#find-job .mat-button.mat-warn, #find-job .mat-icon-button.mat-warn, #find-job .mat-stroked-button.mat-warn:active {
  color: #ffffff;
}

#find-job .mat-stroked-button:hover {
  background-color: #e78666;
}

#find-job .mat-button.mat-warn, #find-job .mat-icon-button.mat-warn, #find-job .mat-stroked-button.mat-warn:hover {
  color: #ffffff;
}

#find-job .mat-expansion-panel-header-description {
  flex-grow: 0;
  color: #13dc13;
}

#find-job .temp-credit-icon, #find-job .credit-amount {
  color: green;
}

#find-job .temp-credit-icon {
  margin-left: 2px;
}

agm-map {
  height: 800px;
}
.agm-map-container-inner .sebm-google-map-container-inner{
  overflow: visible;
}

#find-job .right-img {
  float: right;
}

#find-job .right-img {
  margin-top: 9px;
  font-style: italic;
}

#find-job .class-left {
  display: inline;
  float: left
}

#find-job .countdown-date {
  text-align: center;
  margin-right: 2px;
  color: #ED6C41;
}

#find-job .temp-credit-icon, #find-job .credit-amount {
  color: green;
}

#find-job .temp-credit-icon {
  margin-left: 2px;
}

#find-job /deep/ .mat-expansion-panel-body {
  background: lightgrey;
  //padding: 0px !important;
}

#find-job .mat-expansion-panel-spacing {
  margin: 0px;
}

#find-job /deep/ .mat-expansion-indicator {
  position: absolute;
  left: 15px;
}

#find-job /deep/ .mat-expansion-indicator:after {
  color: #ED6C41;
}

#find-job .mat-expansion-panel-header-title {
  margin-left: 1em;
  margin-top: 5px;
  font-weight: 600;
}


#find-job /deep/ .mat-expansion-indicator {
  position: absolute;
  left: 15px;
}

#find-job /deep/ .mat-expansion-indicator:after {
  color: #ED6C41;
}

#find-job .mat-expansion-panel-header-title {
  margin-left: 1em;
  margin-top: 5px;
  font-weight: 600;
}

#find-job .find-view-text-color {
  color: #7c7070;
}

#find-job .lib-countdown-td {
  text-align: center;
  margin-right: 2px;
  color: #ED6C41;
}
