<div id="wallet">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Wallet">
          <p class="balance">Wallet ID: <span style="font-weight: 500;"> {{walletId}} </span></p>
          <img class="center" height="100"
               src="../../../assets/images/digital-wallet1.png"
               width="100"/>
          <p class="balance">Balance: <span style="font-weight: 500; color: green;">{{balanceCredits}} </span>
            <mat-icon aria-hidden="true" class="temp-credit-icon mat-icon notranslate material-icons mat-icon-no-color"
                      role="img" style="position: absolute; font-weight: 500; color: green;">copyright
            </mat-icon>
          </p>

          <hr size="10">
            <p class="recent-trans">Recent Transactions</p>
          <div *ngIf="walletDetails.length<=0">
            <p style="text-align: center">You don't have any transaction yet.</p>
          </div>
          <table class="table-center" *ngIf="walletDetails && walletDetails.length>0">
            <tr style="font-weight: 700;">
              <td>Transaction</td>
              <td>Type</td>
              <td>Date</td>
              <td>Credits</td>
            </tr>
            <tr *ngFor="let wallet of walletDetails">
              <td>{{wallet.jobEntityJobCategoryName? wallet.jobEntityJobCategoryName : wallet.benefitEntityName?
                wallet.benefitEntityName: wallet.tranctionToName}}
              </td>
              <td>{{wallet.transactionType}}</td>
              <td>{{wallet.transactionDate | date}}</td>
              <td style="text-align: center;">{{wallet.credits}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Transfer">
          <div *ngIf="!hasAdminAccess">
            <p style="text-align: center">Currently, only the City of Imatra can transfer credits.</p>
          </div>
          <form *ngIf="hasAdminAccess" [formGroup]="transferFormGroup" method="post">
            <img class="center" height="100"
                 src="../../../assets/images/digital-wallet1.png"
                 style="margin-top: 75px;" width="100"/>
            <p class="balance">Balance: <span style="font-weight: 500; color: green;">{{balanceCredits}}</span>
              <mat-icon aria-hidden="true"
                        class="temp-credit-icon mat-icon notranslate material-icons mat-icon-no-color"
                        role="img" style="position: absolute; font-weight: 500; color: green;">copyright
              </mat-icon>
            </p>
            <hr size="10">
            <table class="table-center-2">
              <tr>
                <td><span style="font-weight: bold; color: #47525E">Wallet ID</span></td>
                <td>
                  <mat-form-field class="example-full-width" style="margin-left: 6px; display: block; width: 100%;">
                    <input matInput type="text" placeholder="Receiver Wallet Id" name="receiverWalletId"
                           formControlName="receiverWalletId">
                    <mat-error
                      *ngIf="transferFormGroup.controls['receiverWalletId'].dirty && transferFormGroup.controls['receiverWalletId'].hasError('required')">
                      Wallet Id of receiver is required.
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td><span class="amount">Amount</span></td>
                <td>
                  <mat-form-field class="amount-value" style="display: block;">
                    <input class="example-right-align" matInput type="number" placeholder="Transfer credit"
                           name="transferAmount" formControlName="transferAmount">
                    <span matSuffix><mat-icon aria-hidden="true"
                                              class="temp-credit-icon mat-icon notranslate material-icons mat-icon-no-color"
                                              role="img"
                                              style="font-weight: 500; color: green;">copyright</mat-icon></span>
                    <mat-error
                      *ngIf="transferFormGroup.controls['transferAmount'].dirty  && transferFormGroup.controls['transferAmount'].hasError('required')">
                      Transfer Amount is required.
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div class="table-center" style="margin-top: 50px;">
              <button (click)="onTransfer()" [disabled]="transferFormGroup.invalid|| disableSubmitBtn" type="submit"
                      class="mat-stroked-button mat-warn button-padding"><strong>Transfer</strong></button>
            </div>
          </form>
        </mat-tab>
    </mat-tab-group>
</div>

