#wallet /deep/ .mat-tab-label, #wallet /deep/ .mat-tab-label-active {
  min-width: 50% !important;
  width: 50% !important;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

/deep/ .content {
  top: 56px;
}

#wallet .mat-expansion-panel-spacing {
  margin: 0px;
}

#wallet /deep/ .mat-expansion-panel-body {
  background: #e2e2e2;
}

#wallet /deep/ .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#wallet .balance {
  color: #47525E;
  text-align: center;
  size: 20px;
  font-weight: 700;
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 23px;
}

#wallet .recent-trans {
  color: #47525E;
  text-align: center;
  size: 20px;
  font-weight: 700;
  margin-top: 25px;
  font-size: 18px;
}

#wallet .table-center {
  color: #47525E;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-horizontal-spacing: 37px;
  -webkit-border-vertical-spacing: 17px;
}

#wallet .table-center-2 {
  color: #8190A5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
}

#wallet .example-right-align {
  text-align: right;
}

#wallet .amount-value {
  width: 100%;
  margin-left: 6px;
}

#wallet .amount {
  font-weight: bold;
  margin-right:10px;
  color: #47525E
}

#wallet /deep/ hr {
  border: none;
  height: 1px;
  color: #bebebe; /* old IE */
  background-color: #bebebe; /* Modern Browsers */
  margin-left: 10%;
  margin-right: 10%;
}

#wallet /deep/
.mat-stroked-button {
  border-color: #e78666!important;
}

#wallet .mat-button.mat-warn, #wallet .mat-icon-button.mat-warn, #wallet .mat-stroked-button.mat-warn {
    color: #e78666;
}

#wallet .mat-stroked-button:active {
      background-color: #e78666;
}

#wallet .mat-button.mat-warn, #wallet .mat-icon-button.mat-warn, #wallet .mat-stroked-button.mat-warn:active {
       color: #ffffff;
}

#wallet .mat-stroked-button:hover {
  background-color: #e78666;
}

#wallet .mat-button.mat-warn, #wallet .mat-icon-button.mat-warn, #wallet .mat-stroked-button.mat-warn:hover {
    color: #ffffff;
}

#wallet .button-padding {
  font-size: 18px;
  padding: 5px 30px;
}
