<div id="wallet">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Wallet">
          <p class="balance">Wallet ID: {{walletId}}</p>
            <img class="center" height="100" src="../../../assets/images/coins.png" width="100"/>
          <p class="balance">Balance: {{balanceCredits}}</p>
            <hr size="10">
            <p class="recent-trans">Recent Transactions</p>
          <div *ngIf="walletDetails.length<=0">
            <p style="text-align: center">You don't have any transaction yet.</p>
          </div>
          <table class="table-center" *ngIf="walletDetails && walletDetails.length>0">
            <tr>
              <td>Transaction</td>
              <td>Type</td>
              <td>Date</td>
              <td>Credits</td>
            </tr>
            <tr *ngFor="let wallet of walletDetails">
              <td>{{wallet.jobEntityJobTitle? wallet.jobEntityJobTitle : wallet.benefitEntityName}}</td>
              <td>{{wallet.transactionType}}</td>
              <td>{{wallet.transactionDate | date}}</td>
              <td style="text-align: center;">{{wallet.credits}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Transfer">
            <img class="center" height="100" src="../../../assets/images/coins.png" width="100"/>
            <p class="balance">Balance: $$$</p>
            <hr size="10">
            <table class="table-center-2">
                <tr>
                    <td><span style="font-weight: bold; color: #47525E">Wallet ID</span></td>
                    <td>
                        <mat-form-field class="example-full-width" style="margin-left: 10px;">
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><span class="amount">Amount</span></td>
                    <td>
                        <mat-form-field class="amount-value">
                            <input class="example-right-align" matInput type="number">
                            <span matPrefix><img height="20" src="../../../assets/images/coins.png" style="float: right"
                                                 width="20"/>&nbsp;</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="table-center" style="margin-top: 50px;">
                <button class="mat-stroked-button mat-warn button-padding"><strong>Transfer</strong></button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

