<div id="user-profile">
    <mat-card class="user-profile-head">
        <mat-card-header>
            <div class="user-avatar-image-up" mat-card-avatar></div>
            <mat-card-title class="user-profile-head-title">Captain America</mat-card-title>
            <mat-card-subtitle class="user-profile-head-subtitle">Completed jobs: 17</mat-card-subtitle>
            <bar-rating [max]="10" [theme]="'horizontal'"></bar-rating>
        </mat-card-header>
    </mat-card>
    <div class="up-container">
        <p>Recent jobs:</p>
        <mat-list role="list">
            <mat-list-item role="listitem"><p>Help the elderly</p><span class="credit-amount">30</span>
                <mat-icon class="temp-credit-icon">copyright</mat-icon>
            </mat-list-item>
            <mat-divider style="margin-bottom: 5px;"></mat-divider>
            <mat-list-item role="listitem"><p>Clean the park</p><span class="credit-amount">30</span>
                <mat-icon class="temp-credit-icon">copyright</mat-icon>
            </mat-list-item>
            <mat-divider style="margin-bottom: 5px;"></mat-divider>
            <mat-list-item role="listitem"><p>Clean the garden</p><span class="credit-amount">30</span>
                <mat-icon class="temp-credit-icon">copyright</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>
</div>
