<div id="user-profile">
    <mat-card class="user-profile-head">
        <mat-card-header>
          <label class="hoverable user-avatar-image-up" for="modalInput">
            <img [src]="isMyProfile?myProfilePictureUrl : userProfilePictureUrl">
            <div class="background"></div>
          </label>
          <button id="modalInput" hidden (click)="openDialog()"></button>

        </mat-card-header>
      <mat-card-title class="user-profile-head-title">{{userProfileModel.name}}</mat-card-title>
      <mat-card-subtitle class="user-profile-head-subtitle">{{userProfileModel.email}}</mat-card-subtitle>
      <mat-card-subtitle class="user-profile-head-subtitle">Completed jobs: {{userProfileModel.jobTransactionEntities != null && userProfileModel.jobTransactionEntities !== undefined? userProfileModel.jobTransactionEntities.length:0 }}</mat-card-subtitle>
      <bar-rating [rate]="5" [readOnly]="true" [max]="10" [theme]="'horizontal'"></bar-rating>

    </mat-card>
    <div class="up-container">
        <p>Recent jobs:</p>
      <div *ngIf="userProfileModel.jobTransactionEntities == null || userProfileModel.jobTransactionEntities == undefined || userProfileModel.jobTransactionEntities.length<=0">
        <p *ngIf="isMyProfile">You have not completed any jobs.</p>
        <p *ngIf="!isMyProfile">{{userProfileModel.name}} has not completed any jobs.</p>
      </div>
        <mat-list role="list" *ngFor="let job of userProfileModel.jobTransactionEntities;" >
            <mat-divider style="margin-bottom: 5px;"></mat-divider>
            <mat-list-item role="listitem"><p>{{job['jobJobTitle']}}</p><span class="credit-amount">{{job['jobCredits']}}</span>
                <mat-icon class="temp-credit-icon">copyright</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>
</div>
