<div id="user-profile">
    <mat-card class="user-profile-head">
        <mat-card-header>
            <div class="user-avatar-image-up" mat-card-avatar></div>
            <mat-card-title class="user-profile-head-title">{{userProfileModel.name}}</mat-card-title>
            <mat-card-subtitle class="user-profile-head-subtitle">Completed jobs: {{userProfileModel.jobTransactionEntities? userProfileModel.jobTransactionEntities.length:0 }}</mat-card-subtitle>
            <bar-rating [rate]="5" [readOnly]="true" [max]="10" [theme]="'horizontal'"></bar-rating>
        </mat-card-header>
    </mat-card>
    <div class="up-container">
        <p>Recent jobs:</p>
      <div *ngIf="userProfileModel.jobTransactionEntities<=0">
        <p>You Have not Completed any jobs.</p>
      </div>
        <mat-list role="list" *ngFor="let job of userProfileModel.jobTransactionEntities;" >
            <mat-divider style="margin-bottom: 5px;"></mat-divider>
            <mat-list-item role="listitem"><p>{{job['jobJobTitle']}}</p><span class="credit-amount">{{job['jobCredits']}}</span>
                <mat-icon class="temp-credit-icon">copyright</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>
</div>
