<mat-list id="benefits">
  <mat-list-item>
    <h2 matLine style="color: #47525E;"><strong>Swimming Pool</strong></h2>

    <div matLine>
      <p class='ellipsis' matLine style="color: grey">Lorem ipsum dolor sit amet
      <p></div>

    <button class="edit" color="primary" mat-flat-button>Edit</button>
    <button class="delete" color="warn" mat-flat-button>Delete</button>
  </mat-list-item>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>

  <mat-list-item>
    <h2 matLine style="color: #47525E;"><strong>Theatre</strong></h2>

    <div matLine>
      <p class='ellipsis' matLine style="color: grey">Lorem ipsum dolor sit amet
      <p></div>

    <button class="edit" color="primary" mat-flat-button>Edit</button>
    <button class="delete" color="warn" mat-flat-button>Delete</button>
  </mat-list-item>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>

  <mat-list-item>
    <h2 matLine style="color: #47525E;"><strong>Ice Skating</strong></h2>

    <div matLine>
      <p class='ellipsis' matLine style="color: grey">Lorem ipsum dolor sit amet
      <p></div>

    <button class="edit" color="primary" mat-flat-button>Edit</button>
    <button class="delete" color="warn" mat-flat-button>Delete</button>
  </mat-list-item>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>
</mat-list>

<button mat-mini-fab (click)="createBenefit()" id="add-benefit-btn">
  +
</button>
