#layout .all-wrap {
  min-height: 100vh; // same height as browser window height
}

#layout .page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

#layout .navbar-width {
  width: 80%;
}

#layout .user-avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: 1px solid #ED6C41;
}

#layout /deep/ .mat-card-header-text {
  margin-right: 0px !important;
}

#layout /deep/ .mat-card {
  background: #ED6C41;
  border-radius: 0px !important;
}

#layout /deep/ .mat-card-title, #layout /deep/ .mat-card-subtitle {
  color: white;
}

/*
 * Make the component injected by <router-outlet> full height:
 */

main {

  display: flex;
  flex-direction: column;

  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {

    flex: 1; // child will set to an equal size inside the container
    display: block;

  }

}

.content{
  top: 56px;
  bottom: 56px;
  overflow:auto;
  flex: 1;
}
